<div class="middle-offset-4 large-offset-4 middle-4 large-4 auth-form columns">
	<img src='/static/img/header-pic.png' class='middle-offset-1 large-offset-1 middle-10 large-10 login-pic'>
	<div class="middle-offset-1 large-offset-1 middle-10 large-10">
		<label for='login-string'>Login:</label>
		<input ng-model='login' id="login-string" type="text">		
	</div>
	
	<div class="middle-offset-1 large-offset-1 middle-10 large-10">
		<label for='login-string'>Password:</label>
		<input ng-model='password' class="columns" id="password-string" type="password">
		
	</div>
	<button class="middle-offset-1 large-offset-1 middle-10 large-10" ng-click='submit()'>SIGN IN</button>
</div>